<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../comuns/head.ejs",{title:title}) %>
  </head>

  <body>
    
    <%- include("../comuns/menu.ejs",{tipo:"tipos"}) %>

    <div class="container-fluid">
      <div class="row-fluid">
        <form action="<%= url %>" method="post" onSubmit="return validarTipos()">

          <table class="formulario">
            <tr>
              <td class="rotulo">Tipo</td>

              <td>
                <% if(tipoDoMysql){%>
                  <input type='text' id="name" value='<%= tipoDoMysql.tipo %>'name='tipo'/> 
                <% } else{%>
                  <input type='text' id="name" name='tipo'/> 
                <% } %>
              </td>
            </tr>
          </table>
          <input type='submit' name='OK' value='enviar'/>

        </form>

      </div><!--/row-->

      <hr>

      <%- include("../comuns/footer") %>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include("../comuns/javascript") %>


  </body>
</html>

