<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("comuns/head.ejs",{title:"Alterar tipo"}) %>
  </head>

  <body>
    
    <%- include("comuns/menu.ejs",{tipo:"tipo"}) %>

    <div class="container-fluid">
      <div class="row-fluid">
        <form action="/tipos/update?id=<%= tipo.id %>" method="post" onSubmit="return validarTipos()">

          <table class="formulario">
            <tr>
              <td class="rotulo">Tipo</td>

              <td><input type='text' id="name" value='<%= tipo.tipo %>'name='tipo'/></td>
            </tr>
          </table>
          <input type='submit' name='OK' value='enviar'/>

        </form>

      </div><!--/row-->

      <hr>

      <%- include("comuns/footer") %>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include("comuns/javascript") %>


  </body>
</html>

