<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("comuns/head.ejs",{title:"Lista de Tipos"}) %>
  </head>

  <body>
    
    <%- include("comuns/menu.ejs",{tipo:"tipos_listar"}) %>


    <div class="container-fluid">
      <div class="row-fluid">
        <h1>Lista de tipo</h1>
        <hr>
        <table class="registros">
          <tr class="header">
            <td>Tipo</td>
            <td class="alterar">Alterar</td>
            <td class="excluir">Excluir</td>
          </tr>
          <%
          for(i=0;i<registros.length;i++){
          %>
            <tr>
              <td><%= registros[i].tipo %></td>
              <td><a href="/tipos/alterar?id=<%= registros[i].id %>">alterar</a></td>
              <td><a onclick="excluirTipo(<%= registros[i].id %>)" href="#">excluir</a></td>
            </tr>
          <%
          }
          %>
 
        </table>
      </div><!--/row-->

      <hr>

      <%- include("comuns/footer") %>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include("comuns/javascript") %>


  </body>
</html>

