<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("comuns/head",{title:"Lista de orçamento"}) %>
  </head>

  <body>

    <%- include("comuns/menu.ejs",{tipo:"orcamento_listar"}) %>


    <div class="container-fluid">
      <div class="row-fluid">
        <h1>Lista de orçamento</h1>
        <hr>
        <table class="registros">
          <tr class="header">
            <td>Nome</td>
            <td>Telefone</td>
            <td>Endereço</td>
            <td>Email</td>
            <td>Orcamento</td>
            <td>alterar</td>
            <td>excluir</td>
          </tr>
          <%
          for(i=0;i<registros.length;i++){
          %>
            <tr>
              <td><%= registros[i].nome %></td>
              <td><%= registros[i].telefone %></td>
              <td><%= registros[i].endereco %></td>
              <td><%= registros[i].email %></td>
              <td><%= registros[i].orcamento %></td>
              <td><a href="/orcamento/alterar?id=<%= registros[i].id %>">alterar</a></td>
              <td><a onclick="excluirOrcamento(<%= registros[i].id %>)" href="#">excluir</a></td>
            </tr>
          <%
          }
          %>
 
        </table>
      </div><!--/row-->

      <hr>

      <%- include("comuns/footer") %>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include("comuns/javascript") %>


  </body>
</html>

